<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/main.css">
<script src="../static/main.js" defer></script>
<title>Poke Api</title>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-transparent border-bottom mt-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="btn btn-outline-danger btn-lg mx-4" type="button" href="../templates/index.html">Home</a>
        <a class="btn btn-outline-danger btn-lg" type="button" href="../templates/searchdetails.html">Search</a>
      </div>
    </div>
  </nav>
    
    <!-- HERO IMAGE -->
    <div class="row sub-hero border-bottom"></div>

   <!-- DASHBOARD -->
   <div class="d-flex justify-content-center ">
       <div class="dashboard-bg mt-5">
           <div class="dashboard-content"> 
               <div class="row text-center pt-5 px-3">
                    <div class="row g-3 character-display">
                       <h1>Search for a Pokémon</h1>
                       <div class="search-pokemon">
                        <form class="pokemon-form" action="POST" onsubmit="fetchData(event)">
                            <input type="text" name="pokemon" placeholder="Pokémon name" required>
                            <button type="submit">Search</button>
                        </form>
                    </div>
               </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>